// // Loop from 0 to 100 and generate a class for each "battery" level
// @for $i from 0 through 100 {
//   .battery-#{$i} {
//     $percentage: if($i <= 40, $i * 0.5, 100 + (($i - 40) * 0.5));
//     color: mix($red, $green, $percentage); // Text color
//     // or background-color: mix($color-start, $color-end, $percentage); // Background color
//   }
// }

$primary: #0f111a;
$secondary: #00010a;
$accent: #ff4151;
$white: #e5e9f0;
$gray: #3b4253;
$seperator: #4c566a;

* {
  all: unset;
}

window {
  font-family: "HackNerdFont";
  font-size: 14px;
  background-color: $primary;
}

.seperator {
  color: gray;
}

.icon {
  font-size: 21px;
}

.workspace {
  color: gray;

  .focused {
    color: white;
  }

  .urgent {
    background-color: $accent;
    color: white;
  }
}

.revealer {
  background-color: $accent;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}
